{% extends "base.html" %}
{% block content %}

<form method="POST" class="form-register" style="color:white">
    {{ form.hidden_tag() }}
    {{ form.SearchValue(class="form-control search-bar", placeholder="Type Something Here") }}
    {{ form.submit(class="btn btn-primary") }}
</form>

<br>

<div>
    {% for item in items.values %}
    <div class="card" style="width: max-content;">
        <img class="card-img-top" src="{{ url_for('static', filename='Food_BackGround.jpg') }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style='color: black;'>{{ item[0] }}  @ S${{ item[1] }}</h5>
            <p class="card-text" style='color: black;'>{{ item[2] }}</p>
            {{ form.hidden_tag() }}
            <input id="Purchased-Item" name="Purchased-Item" type="hidden" value="{{ item.ID_PRODUCT }}">
            {{ purchase_form.submit(class='btn btn-primary')}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}