body {
    background-color: rgb(0, 0, 0);
    color: white
}

.bg-dark_ {
    background-color: #8d609b;
}

.active {
    font-weight: bolder;
}

.navbar {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.5rem 1rem;
    color: white;
    text-align: center;
    margin: 0;
    height: fit-content;
}

a {
    color: white;
    font-size: large;
    text-decoration: none;
}

a ~ a {
    margin-left: 20px;
}

.Menu-Buttons > a:hover {
    background-color: white;
    border-radius: 25px;
    border: 1px solid white;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.rightwards {
    position: absolute;
    right: 0;
}

.rightwards > a:hover {
    background-color: white;
    border-radius: 25px;
    border: 1px solid white;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.btn noHover {
    text-decoration: none;
    pointer-events: none;
}

form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    }

.card {
    width: 100%;
    align-self: center;
}

.card ~ .card {
    margin-bottom: 25px;
}

.search-bar {
    display: block; margin:auto
}

.search-bar[type=text] {
    width: 50%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  

.search-bar[type=text]:focus {
    width: 100%;
  }

.div-hover {
    width: 50%;
}

.div-hover::after {
    width: 100%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}